<!DOCTYPE html>
<html>
    <head>
        <title>About us</title>
        <link rel="stylesheet" href="../static/styles/style.css">
    </head>

    <body>
        <ul style="margin-top: 5%;">
            <li><a target="_self" href="/" class="top">Home</a></li>
            <li><a target="_self" href="/about" class="active">About us...</a></li>
            <li><a target="_self" href="/contact">Issue with something..?<br>Contact us!</a></li>
            <li><a target="_self" href="/login">Login!</a></li>
            <li><a target="_self" href="/registration">New user?<br>Register Here!</a></li>
        </ul>
        <div class="testdiv">
            <h1 style="text-decoration: none; padding-top: 5%;">These are what we want to achieve this year: </h1>
            
            <ol class="data" style="padding-top: 5%; margin-left: 5%;">
                <li>Make the website more appealing to new users.</li>
                <br>
                <li>Help people to get access to various resources by organizing them in an order.</li> <br>
                <li>Cover a broad range of topics and create a discussion thread so that people can come together and share knowledge.</li><br>
                <li>Make all these things available for free!</li>

            </ol>
        </div>
    </body>
</html>