<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>Contact Page</title>
        <style>
            .non {
                padding-left: 5%;
                font-size: larger;
            }
        </style>
    </head>

    <body>
        <ul style="margin-top: 5%;">
            <li><a target="_blank" href="home.html" class="top">Home</a></li>
            <li><a target="_blank" href="about.html">About us...</a></li>
            <li><a target="_blank" href="contact.html" class="active">Issue with something..?<br>Contact us!</a></li>
            <li><a href="login.html" target="_blank">Login!</a></li>
            <li><a href="registration.html" target="_blank">New user?<br>Register Here!</a></li>
        </ul>

        <div class="testdiv">
            <h2 style="text-decoration: none; padding-top:5%; color:blanchedalmond">Please reach out to us if the resource links are broken or if there's any other issue: </h2>
            <p class="non">Write us an e-mail, <a class="link" href="mailto:unohana.kenpachi26@gmail.com">here.</a></p>
            
            <p class="non">Reach out to the respective resource owners:
                <p class="non">For the TCP/IP guide owners, <a target="_blank" href="http://www.tcpipguide.com/contact.htm" class="link">click here.</a></p>
                <p class="non">For the Shell Scripting resource owners, <a target="_blank" class="link" href="https://www.tutorialspoint.com/about/contact_us.htm">click here.</a></p>
            </p>
        </div>

    </body>

</html>