<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles/style.css">
        <title>Homepage</title>
    </head>

    <body>
        <ul style="margin-top: 5%;">
            <li><a target="_self" href="/" class="active top">Home</a></li>
            <li><a target="_self" href="/about">About us...</a></li>
            <li><a target="_self" href="/contact">Issue with something..?<br>Contact us!</a></li>
            <li><a target="_self" href="/">Login!</a></li>
            <li><a target="_self" href="/registration">New user?<br>Register Here!</a></li>
        </ul>

        <div class="testdiv">
            <h1 style="padding-top: 5%;"> </h1>
            
            <br><br>
            <h3 style="color: rgb(210, 156, 86); padding-left: 10px;">Here are some links to some useful resources: </h3>
        </div>

    </body>

</html>