<!DOCTYPE html>
<html>
    <head>
        <title>Registration Page</title>
        <link rel="stylesheet" href="style.css">
    </head>
    
    <body>
         
        <ul style="margin-top: 5%;">
            <li><a target="_blank" href="home.html" class="top">Home</a></li>
            <li><a target="_blank" href="about.html">About us...</a></li>
            <li><a target="_blank" href="contact.html">Issue with something..?<br>Contact us!</a></li>
            <li><a target="_blank" href="login.html">Login!</a></li>
            <li><a target="_blank" href="registration.html" class="active">New user?<br>Register Here!</a></li>
        </ul>

        <div class="testdiv">
            <h1>This is some text</h1>
        </div>
    </body>
</html>