
body {
    margin: 0;
    background-image: url(bg.jpg);
    background-size: 1920px 1080px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


ul {
    list-style-type: none;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    width: 10%;
    background-color: #452a2a2e;
    position: fixed;
    height: 45%;
    border-style: none;
    border-radius: 10px;
    overflow: auto;
}

.testdiv {
    margin-left: 15%;
    margin-top: 5%;
}

.testdiv p {
    color: rgb(0, 255, 217);
}

.testdiv {
    margin-top: 5%;
}

.testdiv h1, h2 {
    text-decoration: underline;
    padding-left: 10px;
    color: rgb(210, 156, 86);
}

ol {
    color: rgba(0, 255, 217, 0.738);
    list-style-type: circle;
    font-size: larger;
}

li a.top {
    padding-top: 10px;
}

li a {
    display: block;
    color: rgb(177, 132, 255); /*Dont change this shit, its perfect for the background bg.jpg*/
    padding: 10% 10%;
    text-decoration: none;
}

a.link {
    color: rgb(210, 156, 86);
    text-decoration: none;
    padding: 0;
    display: inline-block;
}

a.link:hover {
    border-style: none;
    background-color: #452a2a8f;
    border-radius: 10px;
}

li a.active {
    background-color: #452a2ab9;
    color: orange;
    border-style: none;
    border-radius: 10px;
}

li a:hover {
    border-style: none;
    border-radius: 10px;
}

li a:hover:not(.active) {
    background-color: #74444486;
    color: white;
}